---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const PricingData = [
  {
    title: "Básico",
    description:
      "Con el Plan Básico, tendrás acceso a las herramientas esenciales para administrar eficazmente tus propiedades.",
    pricing: "49.900",
    typePricing: "CO $",
    longTime: "Mes",
    button: "Solicitar cotización",
    caption: "CO $598.000 / 12 meses",
    modules: [
      {
        title: "Gestión",
        services: [
          "Unidades/Copropiedades",
          "Vigilantes",
          "Propietarios",
          "Arrendatarios",
        ],
      },
      {
        title: "Comunicaciones Residenciales",
        services: ["Anuncios", "Correspondencia"],
      },
      {
        title: "Control de Acceso y Logística",
        services: ["Ingreso de visitantes", "Control de correspondencias"],
      },
      {
        title: "Soporte técnico",
        services: ["Soporte mediante tutoriales"],
      },
    ],
  },
  {
    title: "Estándar",
    description:
      "La solución completa y confiable para tu negocio. Incluye todas las características esenciales y soporte técnico necesario.",
    span: "POPULAR",
    typePricing: "CO $",
    pricing: "79.900",
    discount: "99.900 / Mes",
    percentageSavings: "AHORRA 25%",
    longTime: "Mes",
    button: "Solicitar cotización",
    caption: "CO $20.000 Ahorro",
    modules: [
      {
        title: "Gestión",
        services: ["Todo el plan Básico", "Mascotas"],
      },
      {
        title: "Comunicaciones Residenciales",
        services: ["Todo el plan Básico", "Solicitudes y reclamos (PQRS)"],
      },
      {
        title: "Control de Acceso y Logística",
        services: ["Todo el plan Básico", "Control de mudanzas"],
      },
      {
        title: "Reportes",
        services: ["Demográficos"],
      },
      {
        title: "Soporte técnico",
        services: ["Todo el plan Básico", "Vía chat o correo electrónico"],
      },
    ],
  },
  {
    title: "Empresarial",
    description:
      "Soluciones adaptadas a tus necesidades. Nos aseguramos de satisfacer tus necesidades específicas con un servicio hecho a medida.",
    typePricing: "",
    pricing: "Personalizado",
    button: "Solicitar cotización",
    caption: "CO $1.018.000 / 12 meses",
    modules: [
      {
        title: "Gestión",
        services: ["Todo el plan Estándar", "Vehículos"],
      },
      {
        title: "Comunicaciones Residenciales",
        services: ["Todo el plan Estándar", "Citofonía"],
      },
      {
        title: "Control de Acceso y Logística",
        services: ["Todo el plan Estándar", "Ingreso de vehículos", "Minuta"],
      },
      {
        title: "Reportes",
        services: ["Todo el plan Estándar"],
      },
      {
        title: "Soporte técnico",
        services: ["Todo el plan Estándar", "Acompañamiento continuo"],
      },
    ],
  },
];
---

<Layout title="Servicios y Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios y Precios</Fragment>
      <Fragment slot="desc">
        Descubre nuestros planes exclusivos para una administración eficiente.
        ¡Tu conjunto residencial en las mejores manos!
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-5 mx-auto mt-12">
      {PricingData.map((item) => <PricingCard data={item} />)}
    </div>
  </Container>
</Layout>
