---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Simplifica la administración",
    description:
      "Nuestra plataforma facilita tareas complejas de la copropiedad, como finanzas y comunicación, para una gestión sin complicaciones.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Comunicación eficiente",
    description:
      "Facilita la comunicación entre propietarios, administradores y vigilantes para una gestión eficiente.",
    icon: "bx:bxs-message",
  },
  {
    title: "Eficiencia asegurada",
    description:
      "Ofrecemos herramientas potentes que optimizan la operación de su copropiedad, lo que se traduce en ahorro de tiempo y dinero.",
    icon: "bx:bxs-rocket",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2
    class="text-center text-sm font-bold tracking-wider text-primary uppercase">
    AVIV
  </h2>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
    ¿Por qué deberías escogernos?
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center">
    Somos una plataforma integral para la administración de copropiedades que
    simplifica la gestión, mejora la comunicación y promueve la eficiencia en la
    vida en comunidad. <strong>Todo esto en un mismo lugar, en un clic.</strong>
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-primary rounded-full  p-2 w-10 h-10 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
